#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.appname {
  color: red;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.normal {
  color: blue;
  margin: 1em;
}

.normalmessage {
  background-color: rgb(0, 255, 110);
}

.important {
  color: red;
   margin: 1em;
}

.deletebutton {
  background-color: red;
  color: white;
  border: none;
  padding: 0.2em;
  margin-left: 1em;
  cursor: pointer;
}

.error {
  background-color: red;
}

.noteslist {
  border: 1px, solid gray;
  padding: 1rem;
  margin: 2rem 0;
  text-align: left
}

.userform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.togglebutton {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  margin-top: 1em;
}

input {
  margin: 0.4em;
}

.frontimage {
  width: 50%;
}