version: '3.1'
services:

  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: example
    ports:
      - 5432:5432

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
  pingpong:
    container_name: pingpong
    image:  titunidoc/devops_pingpong:2.74
    restart: always
    volumes:
      - shared-logs:/usr/src/app/files
    environment:
      PORT: 3001
      DB_USER: postgres
      DB_PASS: example
      DB_HOST: localhost
      DB_PORT: 5432
      DB_TYPE: postgres
      DB_DATABASE: postgres
      SECRET: tosisalainensalasanainen
    ports:
      - 3005:3001
      
volumes:
  shared-logs: