version: '3.1'

services:
  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: example
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 10s
    volumes:
      - ./postgres-data:/var/lib/postgresql
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
  notesdemoback:
    container_name: notes_demo_back
    image: titunidoc/devops_kubernetes:back_2.183  
    restart: always
    environment:
      PORT: 3001
      DB_USER: postgres
      DB_PASS: example
      DB_HOST: db
      DB_PORT: 5432
      DB_TYPE: pg
      DB_DATABASE: postgres
      SECRET: tosisalainensalasanainen
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 3004:3001
  notesdemofront:
    container_name: notes_demo_front
    image: titunidoc/devops_kubernetes:front_2.182 
    restart: always
    volumes:
      - shared-logs:/usr/src/app/files
    environment:
      PORT: 3001
    ports:
      - 3005:3001
volumes:
  shared-logs: