version: '3.1'

services:
  db:
    image: docker.io/mysql:latest
    restart: always
    hostname: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: mypass123_for_testing
      MYSQL_DATABASE: my_testing_db
    ports:
      - 3306:3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5
      start_period: 60s
      timeout: 10s
  notesdemo:
    container_name: notes_demo_1
    image: ${ARTIFACT_NAME}
    restart: always
    environment:
      DB_HOST: mysql_db
      DB_USER: root
      DB_PASS: mypass123_for_testing
      DB_DATABASE: my_testing_db
      DB_TYPE: mysql2
      DB_PORT: 3306
      PORT: 3001
      SECRET: tosisalainensaiyvutfytdtretdrlasanainen_for_testing
    ports:
      - 3001:3001
    depends_on:
      db:
        condition: service_healthy
        restart: true
    healthcheck:
      test: ["CMD", "curl", "localhost:3001"]
      interval: 10s
      retries: 5
      start_period: 60s
      timeout: 10s

